<!doctype html>
<html lang="en" ng-app="PopQuizMongodbApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>PopQuizes !</title>
    <!--BOWER_COMPONENTS_CSS_START-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <!--BOWER_COMPONENTS_CSS_END-->
    <!--CUSTOM_CSS_END-->
    <link rel="stylesheet" href="css/styles.css"/>
    
</head>
<body ng-cloak="true" ng-controller="PopQuizCtrl as ctrl">
    <button ng-click="myCssVar='css-class'">Animate</button>
    <button ng-click="myCssVar=''">Clear</button>
    <br>{{myCssVar}}
    <div class="item col-xs-12 .col-sm-6 .col-md-8" ng-repeat="popquiz in ctrl.popquizes">
        <span ng-class="myCssVar" >{{popquiz}}</span>
    </div>

<!--Place JS scripts after this line-->
<!--BOWER_COMPONENTS_JS_START-->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/app/popquiz.module.js"></script>
<script type="text/javascript" src="/app/popquiz.service.js"></script>
<script type="text/javascript" src="/app/popquizes.controller.js"></script>

</body>
</html>